<div
  class='columns is-flex box is-justify-content-space-evenly'
  style='border: 2px solid #333; border-radius: 10px;'
>
  <div class='has-text-centered' style='margin-bottom: 20px;'>
    <div>
      <h1 class='title is-4 has-text-weight-bold'>About Me</h1>
      <h2>{{aboutMe}}</h2>
    </div>
  </div>
  <div class='has-text-centered' style='margin-bottom: 20px;'>
    <h1 class='title is-4 has-text-weight-bold'>Favorite Genre</h1>
    <h2>{{interestedGenre}}</h2>
  </div>
  <div class='has-text-centered'>
    <h1 class='title is-4 has-text-weight-bold'>Preferred Platform</h1>
    <h2>{{preferredPlatform}}</h2>
  </div>
</div>

<div
  class='columns is-flex is-flex-direction-column box'
  style='border: 2px solid #333; border-radius: 10px;'
>
  <div class='has-text-centered'>
    <h1 class='title is-4 has-text-weight-bold'>Game Library:</h1>
    <div class='columns is-multiline is-flex-wrap-wrap'>
      {{#each games as |game|}}
        <div class='column is-half'>
          <div class='box'>
            <a href='/dashboard/games/{{id}}'>
              <img src='{{game_thumbnail}}' />
            </a>
            <h3>{{game_title}}</h3>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div
  class='columns is-flex is-flex-direction-column box'
  style='border: 2px solid #333; border-radius: 10px; margin-bottom: 20px;'
>
  <div class='has-text-centered'>
    <h1 class='title is-4 has-text-weight-bold'>My Friends</h1>
    {{#each friends as |friend|}}
      <div>
        <a href='/profile/{{username}}'>
          <h3>{{username}}</h3>
        </a>
      </div>
    {{/each}}
  </div>
</div>