<div>
    <div>
        <h1 class="title has-text-centered">{{game.game_title}}</h1>
        <img src="{{game.game_thumbnail}}">
        <a href="{{game.game_url}}">
            <button class="button is-dark is-fullwidth">Visit Official Website</button>
        </a>

        <button id="add-game" class="button is-dark is-fullwidth">Add to Library</button>
        <p>Developed by: {{info.developer}}</p>
        <p>{{info.description}}</p>

        <h1>Screenshots of Gameplay</h1>
            {{#each screenshots as |screenshot|}}
            <div>
                <img src="{{image}}">
            </div>
            {{/each}}
        
        <input type="hidden" id="username" value="{{user.username}}">
</div>

<script src="/js/add-game.js"></script>